# 1) Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 2) Importing CSV Files

In [3]:
# Path
path = r"C:\Users\GTSA - Infinity\Documents\Analytika career foundry\Task 4 PYTHON\Instacart Basket Analysis"

In [8]:
# Importing order_products_combined.pkl
df_merged_large = pd.read_pickle(os.path.join(path,  '02 Original Data', 'Prepared Data','orders_products_combined.pkl'))

In [10]:
# Importing products_cleaned.csv
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Original Data', 'Prepared Data', 'products_cleaned.csv'),
                               index_col = False)

# 3) Combining df_merged_large with DF_prods_cleaned

In [13]:
# Checking the head 
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [14]:
# Checking the head 
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [11]:
# Checking the shape
df_merged_large.shape

(32434489, 11)

In [12]:
# Checking the shape 
df_prods_cleaned.shape

(49677, 6)

In [15]:
# Merging tables
df_orders_products_merged = df_merged_large.merge(df_prods_cleaned, on = 'product_id')

In [16]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [17]:
# Confirming the results of the merge using the merge flag
df_orders_products_merged['_merge'].value_counts()

both          32406041
left_only            0
right_only           0
Name: _merge, dtype: int64

# 4) Exporting files

In [18]:
# Exporting dataframe in pkl format
df_orders_products_merged.to_pickle(os.path.join(path, '02 Original Data', 'Prepared Data', 'orders_products_merged.pkl'))